# Change the example and rename the file to .env
BOT_TOKEN_MAIN = "123456789:ABCDEF"
BOT_TOKEN_FEEDBACK = "123456789:ABCDEF"
PAYMENT_TOKEN = "123456789:ABCDEF"
AI_WEBHOOK_URL = "https://your-site/secret-url"
AI_WEBHOOK_URL_CHECKING_HOME_WORK = "https://your-site/secret-url"